{% extends "../../layouts/admin.html" %} {% block admin_content %}
<!-- Page content -->
<div class="container-fluid" style="margin-top:20px;">
    <nav class="d-flex title-dash  " aria-label="breadcrumb">
        <ol class="breadcrumb mt-2 mb-2 w-100 py-3 shadow-theme">
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Programs</li>
        </ol>
    </nav>
    {% if request.session.user.role == "superadmin" %}
    <div class="container-fluid">
        <div class="row justify-content-md-start justify-content-sm-center mb-3 mx-2">
            <div class="col-md-4 col-sm-12 py-3">
                <input type="text" class="form-control search-control" placeholder="Recherche">
            </div>

            <div class="col-md-2 col-sm-12 p-3 text-center">
                <div class="form-inline justify-content-center">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1 pr-2">Categorie</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                              <option>A</option>
                              <option>B</option>
                              <option>C</option>
                            </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 p-3 text-center">
                <a href="#addProgram" data-toggle="modal" class="btn btn-info"><i class="fa fa-user-plus"></i> Nouveau</a>
            </div>
            <div class="col-md-2 col-sm-12 p-3 text-center">

            </div>

        </div>
    </div>
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 m-0 p-0">
                <div class="card shadow-theme border-1 card-theme card-radius-5">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button">
                                Programmes
                                </button>
                        </h2>
                    </div>
                    <div class="card-body">
                        {% for program in programs %}
                        <div class="card my-2">
                            <div class="card-header border-1">
                                <div class="row justify-content-between mx-2">
                                    <div class="col">
                                        <h4>{{ program.numero }}-{{ program.title }}</h4>
                                        <h6 class="ml-3"> <b>Catégorie {{ program.category }}</b> </h6>
                                    </div>
                                    <div class="col text-right">
                                        <input type="checkbox" {% for coach in program.coachs %} {% if coach.id==request.session.user.id and coach.Cprogram.finish==1 %} checked {% endif %} {% endfor %}value="{{program.id}}" onclick="toggleCheck(this, {{request.session.user.id}})" id="programState{{program.id}}"
                                            class="form-check-input mt-3" id="exampleCheck1">

                                        <a href="#editProgram{{program.id}}" data-toggle="modal" class="btn btn-info my-2"> <i class="fa fa-edit"></i></a>
                                        <a href="#deleteProgram{{program.id}}" data-toggle="modal" class="btn btn-danger my-2"> <i class="fa fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row mx-2">
                                    <p class="card-text">{{program.description}}</p>
                                </div>
                                <ul class="list-group">
                                    {% for file in program.files %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span> {% if file.type == 'application/pdf' %}
                                            <i class="fa fa-file-pdf text-danger "></i>
                                            {% else %} 
                                            <i class="fa fa-video text-danger"></i> 
                                            {% endif %} {{ file.securename }} - {{ file.type }} </span>
                                        <span>
                                            <a href="/admin/program/view/{{file.id}}" class="btn-btn-link text-info font-weight-bold mx-1"> <i class="fa fa-eye text-success"></i> Voir </a>
                                            <a href="/admin/program/download/{{file.id}}" class="btn-btn-link text-info font-weight-bold mx-1"> <i class="fa fa-download text-success"></i>  </a>
                                            {% if request.session.user.role == "superadmin" or  request.session.user.role == "admin" %}
                                            <a href="/admin/program/file/remove/{{file.id}}" class="btn-btn-link text-info font-weight-bold mx-1"> <i class="fa fa-times text-danger"></i> Suppr </a>
                                            {% endif %}
                                        </span>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% if program.exercices | length != 0 %}
                                <div class="row mx-4 mt-2">
                                    <b class="card-text">Exerices({{program.exercices | length}})</b>
                                </div>
                                {% endif %}
                                <ul class="list-group">
                                    {% for exercice in program.exercices %}
                                    <div class="card mt-2">
                                        <div class="row mx-2">
                                            {{ exercice.title}}
                                        </div>
                                        <div class="card-body">
                                            <li class="list-group-item align-items-center">
                                                <div class="row ">
                                                    {{ exercice.description}}
                                                </div>
                                                <div class="row ">
                                                    <span> 
                                                        <i class="fa fa-file-pdf text-danger "></i>
                                                    </span>&nbsp;&nbsp; {{ exercice.file }}
                                                </div>
                                            </li>
                                        </div>
                                        <div>
                                            {% endfor %}
                                </ul>
                                </div>

                                <div class="card-footer text-muted">
                                    <div class="row justify-content-between mx-2">
                                        <span class="my-2">{{ program.date | date('DD-MMM-YYYY')}} </span>
                                        <span>
                                        <a href="#presence{{program.id}}"  data-toggle="modal" class="btn btn-info my-2"> <i class="fa fa-graduation-cap"></i> Presence</a>
                                        {% if request.session.user.role == "superadmin" %}
                                        <a href="#addFile{{program.id}}" data-toggle="modal"  class="btn btn-info my-2"> <i class="fa fa-paperclip"></i></a>   
                                        {% endif %}
                                         <a href="#addExercice{{program.id}}" data-toggle="modal"  class="btn btn-info my-2"> <i class="fa fa-plus"></i> Ajouter exercice</a> 
                                    </span>
                                    </div>
                                </div>
                                </div>
                                {% endfor %}
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <!-- Modal add-->
            <div class="modal animate__animated animate__zoomIn " id="addProgram" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg  modal-dialog-scrollable modal-dialog-centered" role="document">
                    <div class="modal-content ">
                        <form action="/admin/program/add" method="post" enctype="multipart/form-data">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Nouveau Programme</h5>
                                <button type="button" class="close text-theme-color" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="form-group">
                                        <label for="numero">Numero</label>
                                        <input type="text" class="form-control" id="numero" name="numero" aria-describedby="textHelp">
                                    </div>
                                    <div class="form-group">
                                        <label for="title">Titre</label>
                                        <input type="text" class="form-control" id="title" name="title" aria-describedby="textHelp">
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Descrption</label>
                                        <textarea type="text" class="form-control" id="description" name="description" aria-describedby="textHelp"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="category">Category</label>
                                        <select class="form-control" id="category" name="category">
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="Jeux Vidéo">Jeux Vidéo</option>
                                </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="date">Date</label>
                                        <input type="date" class="form-control" id="date" name="date" aria-describedby="textHelp">
                                    </div>
                                    <div class="form-group">
                                        <label for="file">Image déscriptif</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                        <span class="btn btn-info btn-file">
                                            Browse&hellip; <input type="file"  id="file"
                                            name="file" single>
                                        </span>
                                            </span>
                                            <input type="text" class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-info">Save changes</button>
                            </div>
                    </div>
                </div>
                </form>
            </div>
            <!-- Modal add-->
            {% for program in programs %}
            <!-- Modal modifier-->
            <div class="modal animate__animated animate__zoomIn " id="editProgram{{program.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg  modal-dialog-scrollable modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <form action="/admin/program/update" method="post" enctype="multipart/form-data">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Modifier Programme</h5>
                                <button type="button" class="close text-theme-color" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <input type="hidden" name="id" value="{{program.id}}">
                                    <div class="form-group">
                                        <label for="ed_numero">Numéro</label>
                                        <input type="text" class="form-control" id="ed_numero" value="{{program.numero}}" name="numero" aria-describedby="textHelp">
                                    </div>
                                    <div class="form-group">
                                        <label for="ed_title">Titre</label>
                                        <input type="text" class="form-control" id="ed_title" value="{{program.title}}" name="title" aria-describedby="textHelp">
                                    </div>
                                    <div class="form-group">
                                        <label for="ed_description">Descrption</label>
                                        <textarea type="text" class="form-control" id="ed_description" name="description" aria-describedby="textHelp">{{program.description}}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="ed_category">Category</label>
                                        <select class="form-control" id="ed_category" name="category">
                                    <option {% if program.category == "A" %} selected {% endif %} value="A">A</option>
                                    <option {% if program.category == "B" %} selected {% endif %} value="B">B</option>
                                    <option {% if program.category == "C" %} selected {% endif %} value="C">C</option>
                                    <option {% if program.category == "Jeux Vidéo" %} selected {% endif %} value="Jeux Vidéo">Jeux Vidéo</option>
                                </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="ed_date">Date</label>
                                        <input type="date" class="form-control" id="ed_date" name="date" value="{{program.date | date('YYYY-MM-DD') }}" aria-describedby="textHelp">
                                    </div>
                                    <div class="form-group">
                                        <label for="file">Image déscriptif</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                        <span class="btn btn-info btn-file">
                                            Browse&hellip; <input type="file"  id="file"
                                            name="file" single>
                                        </span>
                                            </span>
                                            <input type="text" class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-info">Save changes</button>
                            </div>
                    </div>
                </div>
                </form>
            </div>
            <!-- fin modifier -->
            <!-- addd file -->
            <div class="modal animate__animated animate__zoomIn " id="addFile{{program.id}}" tiabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <form action="/admin/program/file/add" method="post" enctype="multipart/form-data">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Ajout des documents</h5>
                                <button type="button" class="close text-theme-color" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group mb-2">
                                    <label for="exampleFormControlSelect2">Type</label>
                                    <select class="form-control " id="type" name="type">
                                <option value="lesson" > Léçon </option>
                                <option value="exercice" > Exercice </option>
                                <option value="document" > Document </option>
                                <option value="video" > Video </option>
                            </select>
                                </div>
                                <div class="form-group mb-5">
                                    <input type="hidden" name="id" value="{{program.id}}">

                                    <label for="exampleFormControlSelect2">Choisir des fichiers</label>
                                    <select multiple class="form-control selectpicker" id="files" name="files" data-dropup-auto="false" data-size="4" data-live-search="true">
                                {% for file in files%}
                                <option value="{{ file.id}}" > {{ file.id}} - {{ file.securename}} [{{ file.type}}]</option>
                                {% endfor %}
                            </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-info">Confirmer</button>
                            </div>
                    </div>
                </div>
                </form>
            </div>
            <!-- model exercice -->
            <div class="modal animate__animated animate__zoomIn " id="addExercice{{program.id}}" tiabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <form action="/admin/program/add/exercice" method="post" enctype="multipart/form-data">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Ajout d'exercice</h5>
                                <button type="button" class="close text-theme-color" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name="programid" value="{{program.id}}">
                                <input type="hidden" name="category" value="{{program.category}}">
                                <div class="form-group">
                                    <label for="birthday">Titre</label>
                                    <input type="text" name="title" class="form-control" id="title" aria-describedby="emailHelp" />
                                </div>
                                <div class="form-group">
                                    <label for="birthplace">Description</label>
                                    <textarea class="form-control" id="description" name="description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="close_date">Date Fin</label>
                                    <input type="date" class="form-control" id="close_date" name="date" value="{{program.date | date('YYYY-MM-DD') }}" aria-describedby="textHelp">
                                </div>
                                <div class="form-group">
                                    <label for="file">Fichier</label>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                    <span class="btn btn-info btn-file">
                                        Browse&hellip; <input type="file"  id="file"
                                        name="file" single>
                                    </span>
                                        </span>
                                        <input type="text" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                                <button type="submit" class="btn btn-info">Confirmer</button>
                            </div>
                    </div>
                </div>
                </form>
            </div>
            <!-- Modal delete-->
            <div class="modal animate__animated animate__zoomIn " id="deleteProgram{{program.id}}" tiabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <form action="/admin/program/delete" method="post" enctype="multipart/form-data">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Suppression de programme</h5>
                                <button type="button" class="close text-theme-color" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid mb-5">
                                    <input type="hidden" id="de_id" name="id" value="{{program.id}}" />
                                    <h6 id="title"> Confirmez-vous la suppression de programme <b>{{program.title}}</b> pour la catégorie <b>{{ program.category}}</b> ?</h6>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-info">Confirmer</button>
                            </div>
                    </div>
                </div>
                </form>
            </div>
            <!-- fin presence -->
            <div class="modal animate__animated animate__zoomIn " id="presence{{program.id}}" tiabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <form action="/admin/program/present" method="post" enctype="multipart/form-data">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Présence</h5>
                                <button type="button" class="close text-theme-color" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group mb-5">
                                    <input type="hidden" name="programid" value="{{program.id}}">
                                    <label for="studentid">Etudiant</label>
                                    <select type="text" class="form-control selectpicker" id="studentid" name="studentid" data-live-search="true" title="Choisir un etudiant" required>
                                {% for student in students %}
                                {% if student.category == program.category %}
                                    <option value="{{student.id}}">{{ student.matricule }} - {{student.name | upper }} {{student.lastname | title }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-info">Confirmer</button>
                            </div>
                    </div>
                </div>
                </form>
            </div>
            {% endfor %}

        </div>


        {% endblock %} {% block script %}
        <script type="text/javascript">
            function toggleCheck(el, coachid) {
                var id = $(el).val();
                var data = {
                    programid: id,
                    coachid: coachid
                }
                var state = false;
                if ($(el).is(":checked")) {
                    data['finish'] = 1;
                    state = true;
                } else {
                    data['finish'] = 0;
                }
                $(el).attr('checked', state);
                var parent = $(el).parent()
                var oldhtml = parent.html();
                parent.html('<div class="spinner-border" style="height:1rem;width:1rem;"  role="status"><span class="sr-only">Loading...</span></div>')
                $.ajax({
                    type: "POST",
                    url: "/admin/program/state",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data) {
                        console.log(data);
                        parent.html(oldhtml);
                        $($(el).attr('id')).prop("checked", state);
                    },
                    error: function(errMsg) {
                        parent.html(oldhtml)
                        $($(el).attr('id')).prop("checked", state);
                    }
                });
            }
            $(document).ready(function() {})
        </script>
        {% endblock %}