{% extends "../../layouts/admin.html" %} {% block admin_content %}
<!-- Page content -->
{% block style %}
<link rel="stylesheet" href="/static/pdfjs/web/pdf_viewer.css"> {% endblock %}
<div class="container-fluid" style="margin-top:20px;">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-2">
                <div class="card shadow-theme border-1 card-theme card-radius-5">
                    <div class="card-body">
                        <div class="row justify-content-between mx-2">
                            <span>{{file.id}} - {{file.securename}}</span>
                            <span> Zoom 
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button type="button" class="btn btn-link" onclick="zoomOut()"><i class="fa fa-minus"></i></button>
                                <button type="button" class="btn btn-link" onclick="zoomIn()"><i class="fa fa-plus"></i></button>
                                <button type="button" class="btn btn-link" onclick="openFullscreen()"><i class="fa fa-expand"></i></button>
                              </div></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" id="pdf-element">
            <div class="col -12 align-items-center">
                <div class="card shadow-theme border-1 card-theme card-radius-5">
                    <div class="card-body d-flex justify-content-center" style=" height: calc(100vh - 130px) !important; background-color:#a1a1a1">
                        <div class="" id="pageContainer" style="background-color: white; height: calc(100vh - 148px) !important; position: absolute; overflow-y: scroll;" class="pdfViewer singlePageView"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %} {% block script %}
<script src="/static/pdfjs/build/pdf.js"></script>
<script src="/static/pdfjs/web/pdf_viewer.js"></script>


<script id="script">
    "use strict";

    if (!pdfjsLib.getDocument || !pdfjsViewer.PDFPageView) {
        // eslint-disable-next-line no-alert
        alert("Please build the pdfjs library using\n  `gulp dist-install`");
    }
    var STREAM = _base64ToArrayBuffer('{{stream}}');

    pdfjsLib.GlobalWorkerOptions.workerSrc = '/static/pdfjs/build/pdf.worker.js';

    var CMAP_URL = "/static/pdfjs/cmaps/";
    var CMAP_PACKED = true;
    var PAGE_TO_VIEW = 1;
    var SCALE = 1.0;
    // var SCALE = 1.0;
    var container = document.getElementById("pageContainer");
    var eventBus = new pdfjsViewer.EventBus();
    var loadingTask = pdfjsLib.getDocument(STREAM);
    loadpdf(loadingTask);


    function _base64ToArrayBuffer(base64) {
        var binary_string = window.atob(base64);
        var len = binary_string.length;
        var bytes = new Uint8Array(len);
        for (var i = 0; i < len; i++) {
            bytes[i] = binary_string.charCodeAt(i);
        }
        return bytes.buffer;
    }

    function zoomOut() {
        container.innerHTML = "";
        SCALE = SCALE - 0.1;
        loadpdf(loadingTask);
    }

    function zoomIn() {
        container.innerHTML = "";
        SCALE = SCALE + 0.1;
        loadpdf(loadingTask);
    }

    function loadpdf(loadingTask) {
        loadingTask.promise.then(function(pdfDocument) {
            // Document loaded, retrieving the page.
            var pages = pdfDocument.numPages;
            for (var page = 1; page <= pages; page++) {
                renderPage(page, pdfDocument);
            }

        });
    }

    function renderPage(page, pdfDocument) {
        return pdfDocument.getPage(page).then(function(pdfPage) {
            // Creating the page view with default parameters.
            var unscaledViewport = pdfPage.getViewport(1);
            var pdfPageView = new pdfjsViewer.PDFPageView({
                container,
                id: PAGE_TO_VIEW,
                scale: SCALE,
                defaultViewport: pdfPage.getViewport({
                    scale: SCALE
                }),
                eventBus,
                // We can enable text/annotations layers, if needed
                textLayerFactory: new pdfjsViewer.DefaultTextLayerFactory(),
                annotationLayerFactory: new pdfjsViewer.DefaultAnnotationLayerFactory(),
            });
            // Associates the actual page with the view, and drawing it
            pdfPageView.setPdfPage(pdfPage);
            return pdfPageView.draw();
        });
    }


    /* View in fullscreen */
    function openFullscreen() {
        var elem = document.getElementById('pageContainer');
        if (elem.requestFullscreen) {
            elem.requestFullscreen();
        } else if (elem.webkitRequestFullscreen) { /* Safari */
            elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) { /* IE11 */
            elem.msRequestFullscreen();
        }
    }

    /* Close fullscreen */
    function closeFullscreen() {
        if (document.exitFullscreen) {
            document.exitFullscreen();
        } else if (document.webkitExitFullscreen) { /* Safari */
            document.webkitExitFullscreen();
        } else if (document.msExitFullscreen) { /* IE11 */
            document.msExitFullscreen();
        }
    }
</script>
{% endblock %}