{% extends "../../layouts/admin.html" %} {% block admin_content %}
<!-- Page content -->
<div class="container-fluid" style="margin-top:20px;">
    <nav class="d-flex title-dash  " aria-label="breadcrumb">
        <ol class="breadcrumb mt-2 mb-2 w-100 py-3 shadow-theme">
            <li class="breadcrumb-item">
                <a href="#">Admin</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Notes</li>
        </ol>
    </nav>
    {% if request.session.user.role == "superadmin" %}
    <div class="container-fluid"></div>
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 m-0 p-0">
                <div class="card shadow-theme border-1 card-theme card-radius-5">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button">
                                Note des étudiants
                                </button>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-md-start justify-content-sm-center mb-5">
                            <div class="col-md-4 col-sm-12">
                                <input type="search" class="form-control search-control" placeholder="Recherche" id="searchnote">
                            </div>
                            <div class="col-md-2 col-sm-6 text-center">
                                <div class="form-inline justify-content-center">
                                    <div class="form-group">
                                        <label for="length_change" class="mr-1">Afficher </label>
                                        <select class="form-control" name='length_change' id='length_change'>
                                                <option value='5'>5</option>
                                                <option value='10'>10</option>
                                                <option value='20'>20</option>
                                                <option value='50'>50</option>
                                                <option value='100'>100</option>
                                                <option value='200'>200</option>
                                            </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <a href="#addNote" data-toggle="modal" class="btn btn-info">
                                    <i class="fa fa-plus"></i> Nouveau</a>
                            </div>
                        </div>
                        <table class="table  table-bordered table-responsive-lg" id="transcriptionList" style="display:none;">
                            <thead>
                                <tr>
                                    <th scope="col">Matricule</th>
                                    <th scope="col">Catégorie</th>
                                    <th scope="col">Nom et Prénom</th>
                                    {% for transcript in notes %}
                                    <th scope="col" class="text-center">{{transcript.title}} /{{transcript.bareme}}
                                        <a href="#editNote{{transcript.id}}" data-toggle="modal" class="btn btn-link  mx-2">
                                            <i class="fa fa-edit text-info"></i>
                                        </a>
                                        <a href="#removeTransc{{transcript.id}}" data-toggle="modal" class="btn btn-link  mx-2">
                                            <i class="fa fa-times "></i>
                                        </a>

                                    </th>
                                    {% endfor %}

                                </tr>
                            </thead>
                            <tbody>

                                {% for student in students %}
                                <tr>
                                    <td>{{student.matricule}}
                                    </td>
                                    <td>{{student.category}}
                                    </td>
                                    <td>{{ student.name | upper }} {{ student.lastname | title }}
                                    </td>

                                    {% for note in student.notes %} {% if note.transcription.category == student.category %} {% if not note['null'] %}
                                    <td class="text-center">{{ note.note}}
                                        <a href="#removeNote{{student.id}}{{note.transcription.id}}" data-toggle="modal" class="btn btn-link mx-2">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                    {% else %}
                                    <td class="text-center">
                                        <a href="#addNote{{student.id}}{{note.transcription.id}}" data-toggle="modal" style="border-radius:20px !important;" class="btn btn-link  mx-2">
                                            <i class="fa fa-plus text-info"></i>
                                        </a>
                                    </td>
                                    {% endif %} {% else %}
                                    <td class="text-center">Aucun</td>
                                    {% endif %} {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <!-- Modal add-->
    {% for transcript in notes %}
    <div class="modal animate__animated animate__zoomIn " id="removeTransc{{transcript.id}}" tiabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="/admin/transcription/delete" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Suppression de transcription</h5>
                        <button type="button" class="close text-theme-color" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <input type="hidden" id="tranc_id{{transcript.id}}" name="id" value="{{transcript.id}}" />
                            <h6 id="title"> Confirmez-vous la suppression de cette transcription ? </h6>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-info">Confirmer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal animate__animated animate__zoomIn " id="editNote{{transcript.id}}" tiabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="/admin/transcription/edit" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modification de transcription</b>
                        </h5>
                        <button type="button" class="close text-theme-color" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <input type="hidden" id="note_id{{transcript.id}}" name="id" value="{{transcript.id}}" />
                            <div class="container-fluid">
                                <div class="form-group">
                                    <label for="bareme">Baréme</label>
                                    <input type="text" class="form-control" id="bareme" value="{{transcript.bareme}}" name="bareme" aria-describedby="textHelp">
                                </div>
                                <div class="form-group">
                                    <label for="title">Titre</label>
                                    <input type="text" class="form-control" id="title" value="{{transcript.title}}" name="title" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    {% endfor %} {% for student in students %} {% for transcript in notes %}
    <!-- Modal delete-->
    <div class="modal animate__animated animate__zoomIn " id="addNote{{student.id}}{{transcript.id}}" tiabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="/admin/transcription/add/note" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Ajout de note {{ transcription.title}} pour <b>{{ student.lastname}}</b>
                        </h5>
                        <button type="button" class="close text-theme-color" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <input type="hidden" id="de_id{{student.id}}{{student.id}}" name="StudentId" value="{{student.id}}" />
                            <input type="hidden" id="tr_id{{transcript.id}}{{student.id}}" name="TranscriptionId" value="{{transcript.id}}" />
                            <div class="form-group">
                                <label for="note">Note</label>
                                <input type="text" class="form-control" id="note{{student.id}}" name="note" aria-describedby="textHelp" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
            </div>
        </div>
        </form>
    </div>

    <div class="modal animate__animated animate__zoomIn " id="removeNote{{student.id}}{{transcript.id}}" tiabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="/admin/transcription/note/delete" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Suppression de note</h5>
                        <button type="button" class="close text-theme-color" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <input type="hidden" id="st_id{{student.id}}{{transcript.id}}" name="StudentId" value="{{student.id}}" />
                            <input type="hidden" id="tr_id{{student.id}}{{transcript.id}}" name="TranscriptionId" value="{{transcript.id}}" />
                            <h6 id="title"> Confirmez-vous la suppression de ce note de <b>{{student.lastname}}</b> ? </h6>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-info">Confirmer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %} {% endfor %}

</div>
<div class="modal animate__animated animate__zoomIn " id="addNote" tiabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="/admin/transcription/add" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ajout de note</h5>
                    <button type="button" class="close text-theme-color" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-group">
                            <label for="bareme">Baréme</label>
                            <input type="text" class="form-control" id="bareme" name="bareme" aria-describedby="textHelp">
                        </div>
                        <div class="form-group">
                            <label for="title">Titre</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                        {% if request.session.user.role == "admin" or request.session.user.role=="superadmin" %}
                        <div class="form-group">
                            <label for="category">Categorie</label>
                            <select class="form-control" id="category" name="category">
                                <option name="A">A</option>
                                <option name="B">B</option>
                                <option name="C">C</option>
                            </select>
                        </div>
                        {%else%}
                        <input type="hidden" name="category" value="{{ request.session.user.category}}" /> {%endif%}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %} {% block script %}
<script type="text/javascript">
    $
        .fn
        .dataTable
        .ext
        .search
        .push(function(settings, data, dataIndex) {
            var searchquery = $('#searchnote')
                .val()
                .toLowerCase();
            var matricule = data[0].toLowerCase();
            var cat = data[1].toLowerCase();
            var name = data[2].toLowerCase();
            if (searchquery === "") {
                return true;
            } else if (matricule.includes(searchquery) || cat.includes(searchquery) || name.includes(searchquery)) {
                return true;
            }
            return false;
        });
    $(document).ready(function() {
        var oTable = $('#transcriptionList').DataTable({
            "sDom": "rtipl",
            "pageLength": 5,
            "language": {
                "url": "/static/dist/french.json"
            },
            "fnPreDrawCallback": function() {},
            "fnInitComplete": function() {
                $('#transcriptionList').show();
            },
            "aoColumnDefs": [{
                "bSortable": false,
                "aTargets": [2]
            }]
        });
        $('#searchnote').on('change input', function() {
            oTable.draw();
            //var length = oTable
            //      .rows({search: 'applied'})
            //     .count();
            // $('#studentNumber').text(length)
        });
        $('#length_change').val(oTable.page.len());
        $('#length_change').change(function() {
            oTable
                .page
                .len($(this).val())
                .draw();
        });
    });
</script>
{% endblock %}